<div class="max-w-7xl mx-auto sm:px-6 lg:px-2">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="w-20 py-4 ...">Cedula Medico</th>
          <th class="w-1/1 py-4 ...">Nombres Medico</th>
          <th class="w-1/1 py-4 ...">Apellidos Medico</th>
          <th class="w-1/1 py-4 ...">Especializacion Medico</th>
          <th class="w-28 py-4...">Actions</th>

        </tr>
      </thead>
      <tbody>
        {{#each tasks1}}
        <tr>
          <td class="py-3 px-6">{{ID_medico}}</td>
          <td class="p-3 text-center">{{Nombres_M}}</td>
          <td class="p-3 text-center">{{Apellidos_M}}</td>
          <td class="p-3 text-center">{{Especializacion}}</td>
          <td class="p-3 flex">
              <form action="/tasks/delete1" method="POST" class="mx-2">
                <input type="hidden" value="{{ID_medico}}" name="id1">
                <button class="bg-red-500 text-white px-3 py-1 rounded-sm" type="submit">
                  <i class="fas fa-trash"></i></button>
              </form>
              
                <a href="/tasks/edit1/{{ID_medico}}" class="bg-blue-500 text-white px-3 py-1 rounded-sm" type="submit">
                  <i class="fas fa-pen"></i></a>
              
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>